{% extends "layout.html" %}
{% block body %}
      <!-- partial -->
       <!--<link rel="stylesheet" href="static\css\vertical-layout-light\clock.css">
      <script src="{{ url_for('static', filename='js/CLOCK.js') }}"></script> -->
      <head>
        
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <style>
            .card-body {
                overflow: hidden;  /* Prevent overflow */
            }
      
            #areaChart {
                width: 100% !important;  /* Ensure the chart width fits its container */
                height: 510px !important;  /* Ensure the chart height fits its container */
            }
            #pieChart {
              display: block;
              margin: 0 auto;
              width: 80% !important;  /* Ensure the chart width fits its container */
              height: 80% !important;  /* Ensure the chart height fits its container */
          }

          </style>

        </head>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome to the Skydash</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">January - March</a>
                      <a class="dropdown-item" href="#">March - June</a>
                      <a class="dropdown-item" href="#">June - August</a>
                      <a class="dropdown-item" href="#">August - November</a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <img src="static/images/dashboard/people.svg" alt="people">
                  <div class="weather-info">
                    <div class="d-flex">
                      <div>
                        <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                      </div>
                      <div class="ml-2">
                        <h4 class="location font-weight-normal">Karachi</h4>
                        <h6 class="font-weight-normal">Pakistan</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin transparent">
              <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-tale">
                    <div class="card-body">
                      <p class="mb-4">Total Customers</p>
                      <p class="fs-30 mb-2">{{ total_customers }}</p>
                      <p>Official Record (30 days)</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                  <div class="card card-dark-blue">
                    <div class="card-body">
                      <p class="mb-4">Total Orders</p>
                      <p class="fs-30 mb-2">{{ total_orders }}</p>
                      <p>Official Record (30 days)</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                  <div class="card card-light-blue">
                    <div class="card-body">
                      <p class="mb-4">Number of Employees</p>
                      <p class="fs-30 mb-2">{{ total_employees }}</p>
                      <p>Official Record</p>                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                  <div class="card card-light-danger">
                    <div class="card-body">
                      <p class="mb-4">Number of Tables</p>
                      <p class="fs-30 mb-2">45</p>
                      <p>Official Record</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <h4 class="card-title">Ordered Items Report</h4>
                  <p class="font-weight-500">Visual representation of ordered items distribution, showcasing popular menu selections and their relative frequencies.</p>
                  <canvas id="pieChart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 <div class="d-flex justify-content-between">
                  <p class="card-title">Sales Report</p>
                 </div>
                  <p class="font-weight-500">Insightful breakdown of sales performance, highlighting revenue contributions from various products or categories.</p>
                  <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                  <canvas id="areaChart" class="chartjs-render-monitor"></canvas>
                </div>
              </div>
            </div>
          </div>




        <script>
          // Data for the pie chart
          var salesData = {
              labels: {{ labels|tojson }}, // Use the dynamic labels
              datasets: [{
                  data: {{ data|tojson }}, // Use the dynamic data
                  backgroundColor: [
                      '#FF6384',
                      '#36A2EB',
                      '#FFCE56',
                      '#4BC0C0',
                      '#9966FF'
                  ],
              }]
          };
      
          // Options for the pie chart
          var pieOptions = {
              responsive: true,
              maintainAspectRatio: true // Change to true to maintain aspect ratio
          };
      
          // Get the context of the canvas element we want to select
          var ctx = document.getElementById('pieChart').getContext('2d');
      
          // Create the pie chart
          new Chart(ctx, {
              type: 'pie',
              data: salesData,
              options: pieOptions
          });








        // Data and options for the area chart
        var areaChartData = {
          labels: {{ area_chart_labels|tojson }}, // Use the dynamic labels
          datasets: [{
              label: 'Profit',
              data: {{ area_chart_data|tojson }}, // Use the dynamic data
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: true
          }]
      };

      var areaChartOptions = {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
              xAxes: [{
                  type: 'time',
                  time: {
                      unit: 'minute',  // Display labels as minutes
                      tooltipFormat: 'll HH:mm',  // Format tooltips to show date and time
                      displayFormats: {
                          minute: 'HH:mm'  // Display format for minutes
                      }
                  },
                  scaleLabel: {
                      display: true,
                      labelString: 'Time'
                  }
              }],
              yAxes: [{
                  scaleLabel: {
                      display: true,
                      labelString: 'Profit'
                  },
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      };

      // Get the context of the canvas element we want to select
      var areaCtx = document.getElementById('areaChart').getContext('2d');

      // Create the area chart
      new Chart(areaCtx, {
          type: 'line', // Use 'line' type to create an area chart
          data: areaChartData,
          options: areaChartOptions
      });
        </script>
{% endblock %}
