{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="static\css\vertical-layout-light\roles.css">
<div class="main-panel">          
  <div class="content-wrapper">
    <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Add Items</h4>
                      <p class="card-description">Specify<code>Items</code>with details including<code> status</code>for Site Functionality.</p>
                      <div class="container-temp">
                        
                        <div class="template-demo" id="button-id">
                          <button type="button" class="btn btn-social-icon btn-youtube" onclick="openPopup()"><i class="fa-solid fa-plus" id="plus1"></i></button>
                        </div>

                        <div class="popup" id="popup">
                          <form method="post" action="/menu">
                            <div class="form-group">
                              <label for="itemInput" id="text">Item</label>
                              <input type="text" class="form-control" id="itemInput" placeholder="Add Item" name="item">

                              <label for="priceInput" id="text2">Price</label>
                              <input type="text" class="form-control" id="priceInput" placeholder="Add Price" name="price">

                              <label for="exampleInputUsername1" id="text2">Category</label>
                              <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                                <select class="js-example-basic-single w-100" id="select" name="cat_id">
                                  {% for category in categories %}
                                      <option class="option" value="{{ category.s_no }}">{{ category.cat }}</option>
                                  {% endfor %}
                                </select>
                              </select>

                                <label for="exampleInputUsername1" id="text2">Status</label>
                                <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                                  <select class="js-example-basic-single w-100" id="select" name="status">
                                    <option class="option" value="Available">Available</option>
                                    <option class="option" value="Unavailable">Unavailable</option>
                                  </select>

                          </span>

                              <div id="buttons">
                                <button type="submit" class="btn btn-primary mr-2">Save</button>
                                <button type="button" class="btn btn-inverse-dark btn-fw" onclick="closePopup()">Cancel</button>
                              </div>

                            </div>
                          </form>
                        </div>


                        
                  <div class="popup" id="edit-popup">
                    <form id="edit-form" method="post">
                      <div class="form-group">
                        <label for="exampleInputUsername1" id="text">Item ID</label>
                        <input type="text" class="form-control" id="edit-item-id" name="edit_item_id" readonly>

                        <label for="exampleInputUsername1" id="text">Item Name</label>
                        <input type="text" class="form-control" id="edit-item" name="edit_item_name">

                        <label for="exampleInputUsername1" id="text2">Price</label>
                        <input type="text" class="form-control" id="edit-price" name="edit_price">

                        <label for="exampleInputUsername1" id="text2">Category</label>
                          <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                            <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                              <select class="form-control" id="edit-cat-id" id="sp" name="edit_cat_id">
                                {% for category in categories %}
                                  <option class="option" value="{{ category.s_no }}">{{ category.cat }}</option>
                                {% endfor %}
                              </select>
                            </span>
                          </span>
                        
                        <label for="exampleInputUsername1" id="text2">Status</label>
                          <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                            <span class="select2 select2-container select2-container--default select2-container--below" id="#myTextField">
                              <select class="form-control" id="edit-status" name="edit_status">
                                <option class="option" value="Available">Available</option>
                                <option class="option" value="Unavailable">Unavailable</option>
                              </select>
                            </span>
                          </span>

                        <div class="mt-3">
                          <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-secondary" onclick="closeEditPopup()">Cancel</button>
                        </div>
                      </div>
                    </form>
                  </div>


                  <div class="card-body" id="for-padding">
                    <p class="card-description"><code id="search1">Search</code></p>
                    <div class="template-demo">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                        </div>
                        <input type="text" class="form-control" id="searchInput" onkeyup="searchTable()"
                          placeholder="Search here">
                      </div>

                    </div>
                  </div>
                </div>


                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Item</th>
                        <th>Price Rs</th>
                        <th>Category</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in items %}
                      <tr data-item-id="{{ item[0] }}">
                        <td>{{ item[0] }}</td> <!-- s_no -->
                        <td>{{ item[1] }}</td> <!-- item -->
                        <td>{{ item[2] }}</td> <!-- price -->
                        <td>{{ item[3] }}</td> <!-- category -->
                        <td>
                          {% if item[4] == 'Available' %}
                          <label class="badge badge-success">Available</label>
                          {% else %}
                          <label class="badge badge-danger">Unavailable</label>
                          {% endif %}
                        </td>
                        <td class="rightmost">
                          <i class="fa-solid fa-pen-to-square" id="edit"
                            onclick="openEditPopup({{ item[0] }}, '{{ item[1] }}', '{{ item[2] }}', '{{ item[3] }}', '{{ item[4] }}')"></i>
                          &nbsp; &nbsp;
                          <i class="fa-solid fa-trash delete-icon" id="trash-{{ item[0] }}"
                            onclick="deleteMenuItem({{ item[0] }})"></i>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <script>
            let editPopup = document.getElementById("edit-popup");
            let editForm = document.getElementById("edit-form");
            let editItemIdField = document.getElementById("edit-item-id");
            let editItemField = document.getElementById("edit-item");
            let editPriceField = document.getElementById("edit-price");
            let editCatIdField = document.getElementById("edit-cat-id");
            let editStatusField = document.getElementById("edit-status");

            function openPopup() {
              popup.classList.add("open-popup");
            }

            function closePopup() {
              popup.classList.remove("open-popup");
            }

            function openEditPopup(itemId, itemName, itemPrice, itemCategory, itemStatus) {
              // Clear previous values
              editItemIdField.value = itemId;
              editItemField.value = itemName;
              editPriceField.value = itemPrice;
              editCatIdField.selectedIndex = itemCategory; // Assuming index 0 represents an empty option
              editStatusField.selectedIndex = itemStatus; // Assuming index 0 represents an empty option

              editPopup.classList.add("open-popup");
            }

            function closeEditPopup() {
              editPopup.classList.remove("open-popup");
            }


            function deleteMenuItem(itemId) {
              if (confirm('Are you sure you want to delete this menu item?')) {
                fetch(`/menu/delete/${itemId}`, {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  }
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.status === 'success') {
                      const row = document.querySelector(`#trash-${itemId}`).parentNode.parentNode; // Select the parent <tr> of the delete button
                      if (row) {
                        row.remove();
                      }
                      alert(data.message);
                    } else {
                      alert('Failed to delete menu item');
                    }
                  })
                  .catch(error => console.error('Error:', error));
              }
            }


            editForm.onsubmit = function (event) {
              event.preventDefault();
              let formData = new FormData(editForm);
              let itemId = editItemIdField.value;
            
              fetch(`/menu/update/${itemId}`, {
                method: 'POST',
                body: formData
              })
              .then(response => response.json())
              .then(data => {
                if (data.status === 'success') {
                  alert(data.message);
            
                  // Update the table row with new data
                  let row = document.querySelector(`tr[data-item-id='${itemId}']`);
                  row.children[1].textContent = data.item.item;  // Update item name
                  row.children[2].textContent = data.item.price;  // Update price
                  row.children[3].textContent = data.item.category;  // Update category
                  row.children[4].innerHTML = data.item.status === 'Available' ? '<label class="badge badge-success">Available</label>' : '<label class="badge badge-danger">Unavailable</label>';
            
                  closeEditPopup(); // Close the popup after successful update
                } else {
                  alert('Failed to update the menu item');
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert('Failed to update the menu item');
              });
            };
            

            function searchTable() {
              var input, filter, table, tr, i;
              input = document.getElementById("searchInput");
              filter = input.value.toUpperCase();
              table = document.querySelector(".table");
              tr = table.getElementsByTagName("tr");
            
              for (i = 0; i < tr.length; i++) {
                let tdId = tr[i].getElementsByTagName("td")[0];
                let tdItem = tr[i].getElementsByTagName("td")[1];
                let tdPrice = tr[i].getElementsByTagName("td")[2];
                let tdCategory = tr[i].getElementsByTagName("td")[3];
                let tdStatus = tr[i].getElementsByTagName("td")[4];
            
                if (tdId || tdItem || tdPrice || tdCategory || tdStatus) {
                  let txtId = tdId.textContent || tdId.innerText;
                  let txtItem = tdItem.textContent || tdItem.innerText;
                  let txtPrice = tdPrice.textContent || tdPrice.innerText;
                  let txtCategory = tdCategory.textContent || tdCategory.innerText;
                  let txtStatus = tdStatus.textContent || tdStatus.innerText;
            
                  if (
                    txtId.toUpperCase().indexOf(filter) > -1 ||
                    txtItem.toUpperCase().indexOf(filter) > -1 ||
                    txtPrice.toUpperCase().indexOf(filter) > -1 ||
                    txtCategory.toUpperCase().indexOf(filter) > -1 ||
                    txtStatus.toUpperCase().indexOf(filter) > -1
                  ) {
                    tr[i].style.display = "";
                    tr[i].classList.add("highlight");
                  } else {
                    tr[i].style.display = "none";
                    tr[i].classList.remove("highlight");
                  }
                }
              }
            }
            

          </script>


          {% endblock %}