{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="static/css/vertical-layout-light/roles.css">
<link rel="stylesheet" href="static/css/vertical-layout-light/days.css">
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Yearly sales</h4>
                <p class="card-description" id="for-marginbottom">This <code>Record</code> is generating on the basis of previous record of <code>Monthly sales.</code> </p>

                <div class="container-temp">
                
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Year</th>
                        <th>Sale</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if yearly_sales %}
                        {% for year_data in yearly_sales %}
                        <tr>
                          <td>{{ year_data.year }}</td>
                          <td>${{ year_data.total|round(2) }}</td>
                        </tr>
                        {% endfor %}
                      {% else %}
                        <tr>
                          <td colspan="2" class="text-center">No yearly sales data available</td>
                        </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}